<template>
    <div class="modal-backdrop" v-if="isOpen">
        <div class="modal">
            <section class="modal-body bg-gray-700 text-white">
                <RootRow v-bind:row="record"/>
            </section>

            <footer class="modal-footer">
              <button type="button" class="btn-green" @click="hide()">
                Close
              </button>
            </footer>
        </div>
    </div>
</template>

<script>
// import Atomic from './Atomic.vue';
import RootRow from './RootRow.vue'

export default {
    props: {
        row: {
          type: Object,
          required: true
        }
    },
    methods: {
      hide() {
        this.$store.commit('close')
      },
    },
    computed: {
        isOpen: function () {
          return this.$store.getters.isOpen
        },
        record() {
          return this.$store.getters.read
        }
    },
    components: {
        RootRow
    }
}
</script>

<style scoped>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    z-index: 10;
    max-height: 100%;
    overflow-y: scroll;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    flex-direction: column;
    justify-content: flex-end;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }
</style>