<template>
  <div>
    <div class="flex w-full overflow-hidden">
      <div class="flex-none w-150">
        <div class="flex-row">
          <div class="flex-1">
            <img src="./../assets/logo.png" alt="">
          </div>
          <div v-bind:key="index" v-for="(count, index) in tabs" :class="{ 'bg-blue-300': (index == active), 'bg-blue-100': (index != active) }" class="flex-1 border-b-2 border-blue-500 cursor-pointer p-5 text-center" @click="select(index)">
            <strong>Database {{index}}</strong>
            <span class="bg-red-500 px-2 rounded text-white text-xs ml-1">{{count}}</span>
          </div>
        </div>
      </div>
      <div class="flex-grow flex-row items-stretch">
          <div v-bind:key="row.key" v-for="row in records" class="flex-1" @click="read(active, row.key)">
            <div class="flex bg-green-200 p-1 rounded-t mt-1">
              <div class="flex-grow">{{ row.key }}</div>
              <div class="flex-shrink w-50 bg-green-500 p-1 mr-1">{{ row.ttl }}</div>
              <div class="flex-shrink w-50 bg-green-500 p-1 mr-1 cursor-pointer">D</div>
            </div>
            <div class="flex-shrink bg-green-100 rounded-b p-1 break-all">
              {{ row.value }}
            </div>
          </div>
      </div>
    </div>
    <Dialog v-bind:row="row"/>
  </div>
</template>

<script>
  import axios from "axios";
  import Dialog from './Dialog.vue'

  export default {
    components: {
      Dialog
    },
    data() {
      return {
        active: 0,
        open: false,
        tabs: {},
        row: {},
        records: []
      }
    },
    created() {
      this.get()
      var _t = this

      setInterval(function(){
        _t.get()
        _t.load(_t.active)
      }, 1000)
    },
    methods: {
      select(idx) {
        this.active = idx;
        this.get()
        this.load(this.active)
      },
      get() {
        axios
          .get('http://localhost:8081/api/databases')
          .then(response => (this.tabs = response.data))
      },
      load(db) {
        axios
          .get('http://localhost:8081/api/database/' + db + '/entries')
          .then(response => (this.records = response.data))
      },
      read(db,key) {
        axios
          .get('http://localhost:8081/api/database/' + db + '/' + key)
          .then(response => this.$store.commit('open', response.data))
      },
      close() {
        this.row = {}
      }
    }
  }
</script>