<template>
  <div class="p-1 inline-block">
    {{ index ? index + ' => ' : '' }} {{ row.type }}<div class="inline-block cursor-pointer ml-1" @click="toggle()">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="15px" width="15px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <path d="M426.667,0H85.333C38.272,0,0,38.293,0,85.333v341.333C0,473.728,38.272,512,85.333,512h341.333
            C473.728,512,512,473.728,512,426.667V85.333C512,38.293,473.728,0,426.667,0z M402.283,181.653l-128,213.333
            c-3.861,6.421-10.795,10.347-18.283,10.347c-7.509,0-14.443-3.925-18.304-10.347l-128-213.333
            c-3.947-6.592-4.053-14.805-0.277-21.483c3.797-6.699,10.88-10.837,18.581-10.837h256c7.68,0,14.763,4.139,18.56,10.837
            C406.336,166.848,406.251,175.061,402.283,181.653z"/>
          <polygon points="165.687,192.013 255.991,342.541 346.295,192.013"/>
      </svg>
    </div>
    <div class="ml-2" v-show="open">
      <div v-bind:key="prop.name" v-for="prop in row.properties">
          <div v-if="prop.value.value">
            <div class="p-1 inline-block">
              {{ prindex(prop.name) }}
              <div class="ml-1 p-1 inline-block">{{ prop.value.type }}</div>
              <div class="ml-1 p-1 inline-block">{{ prop.value.value }}</div>
            </div>
          </div>

          <div v-if="prop.value.properties" class="inline-block">
            <ObjectRow v-bind:index="prindex(prop.name)" v-bind:row="prop.value"/>
          </div>

          <div v-if="prop.value.items" class="inline-block">
            <ArrayRow v-bind:index="prindex(prop.name)" v-bind:row="prop.value"/>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    components: {},
    beforeCreate() {
      this.$options.components.ArrayRow = require('./ArrayRow.vue').default;
    },
    name: 'ObjectRow',
    props: {
      index: {
        type: String,
        default: "",
        required: false
      },
      row: {
          type: Object,
          required: true
      }
    },
    data() {
      return {
        open: false
      }
    },
    methods: {
      toggle() {
        this.open = !this.open
      },
      prindex(prop) {
        return `+ ${prop}`
      }
    }
  }
</script>
