<template>
  <div>
    <div v-if="row.value">
      <div class="p-1 inline-block" :class="row.type">
        {{ row.type }}<div class="ml-1 p-1 inline-block">{{ row.value }}</div>
      </div>
    </div>

    <div v-if="row.properties" class="inline-block">
      <ObjectRow v-bind:row="row"/>
    </div>

    <div v-if="row.items" class="inline-block">
      <ArrayRow v-bind:row="row"/>
    </div>
  </div>
</template>

<script>
  import ArrayRow from './ArrayRow.vue'
  import ObjectRow from './ObjectRow.vue'
  
  export default {
    components: {
      ArrayRow,
      ObjectRow
    },
    props: {
      row: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style scoped>
  .string {
    color: green;
  }

  .string .inline-block {
    color: orange;
  }
  .string .inline-block::before {
    content: "\"";
  }
  .string .inline-block::after {
    content: "\"";
  }
</style>